<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Players</title>
  
  </head>
  
</head>
<body>

<div class="row" >
    <h1>New Player Add</h1>
   <div class="col-5 offset-4">
     <form method="POST" action="/player/add" enctype="multipart/form-data" >
<div class="mb-3">
    <label for="playername" class="form-label">Player Name</label>
    <input  name="player" type="text" id="playername" class="form-control" required>
</div>
<!-- <div class="mb-3">
    <label for="playerImage" class="form-label">Player Image</label>
    <input  name="player[image]" type="text"id="playerImage" class="form-control" >
</div>
<div  class="mb-3">
    <label for="matches"class="form-label">Matches</label>
    <input name="player[matches]" type="number" id="matches" class="form-control" required>
</div>

<div  class="mb-3">
    <label for="runs"class="form-label">Runs</label>
    <input name="player[runs]" type="number" id="runs" class="form-control" required>
</div>

<div  class="mb-3">
    <label for="Hundred"class="form-label">Hundred</label>
    <input name="player[hundred]" type="number" id="Hundred" class="form-control" required>
</div>
<div  class="mb-3">
    <label for="Fifty"class="form-label">Fifty</label>
    <input name="player[fifty]" type="number" id="Fifty" class="form-control" required>
</div>
<div  class="mb-3">
    <label for="Four"class="form-label">Four</label>
    <input name="player[four]" type="number" id="Four" class="form-control" required>
</div>
<div  class="mb-3">
    <label for="Six"class="form-label">Six</label>
    <input name="player[six]" type="number" id="Six" class="form-control" required>
</div> -->


<button class="btn btn-success">Submit</button>
    </form>
   </div>
</div>


















</body>
</html>






































